---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Python Programming Language: Functions

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

<br>
# The Python Programming Language: Types and Sequences

<br>
Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

<br>
Tuples are an immutable data structure (cannot be altered).

In [ ]:
x = (1, 'a', 2, 'b')
type(x)

<br>
Lists are a mutable data structure.

In [ ]:
x = [1, 'a', 2, 'b']
type(x)

<br>
Use `append` to append an object to a list.

In [ ]:
x.append(3.3)
print(x)

<br>
This is an example of how to loop through each item in the list.

In [ ]:
for item in x:
    print(item)

<br>
Or using the indexing operator:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

<br>
Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

<br>
Use `*` to repeat lists.

In [ ]:
[1]*3

<br>
Use the `in` operator to check if something is inside a list.

In [ ]:
1 in [1, 2, 3]

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [2]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

<br>
This will return the last element of the string.

In [3]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [4]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [5]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 4th element of the string and going all the way to the end.

In [6]:
x[3:]

's is a string'

In [9]:
x = 'Dr. Christopher Brooks'

print(x[4:-7])

Christopher

In [ ]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

<br>
Make sure you convert objects to strings before concatenating.

In [ ]:
'Chris' + 2

In [ ]:
'Chris' + str(2)

<br>
Dictionaries associate keys with values.

In [11]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [13]:
x['Kevyn Collins-Thompson'] = 1
x['Kevyn Collins-Thompson']

1

<br>
Iterate over all of the keys:

In [14]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
1

<br>
Iterate over all of the values:

In [15]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
1

<br>
Iterate over all of the items in the list:

In [16]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
1

<br>
You can unpack a sequence into different variables:

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [ ]:
fname

In [ ]:
lname

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

<br>
# The Python Programming Language: More on Strings

In [17]:
print('Chris' + 2)

TypeError: must be str, not int

In [18]:
print('Chris' + str(2))

Chris2

<br>
Python has a built in method for convenient string formatting.

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [19]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [20]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [21]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [22]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [23]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [24]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [29]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [30]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [31]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

<br>
# The Python Programming Language: Dates and Times

In [33]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [34]:
tm.time()

1546774186.15

<br>
Convert the timestamp to datetime.

In [42]:
dtnow = dt.datetime.fromtimestamp(tm.time())
type(dtnow)

datetime.datetime

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [43]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [44]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [45]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

<br>
Here's an example of mapping the `min` function between two lists.

In [48]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
list(cheapest)

[9.00, 11.00, 12.34, 2.01]

<br>
Now let's iterate through the map object to see the values.

In [50]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return (person.split()[1],person.split()[2])

list(map(split_title_and_name,people))

[('Christopher', 'Brooks'),
 ('Kevyn', 'Collins-Thompson'),
 ('VG', 'Vinod'),
 ('Daniel', 'Romero')]

In [ ]:
for item in cheapest:
    print(item)

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [60]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

<br>
Now the same thing but with list comprehension.

In [61]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [58]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [79]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

#times_tables() == [for i in range(10) true]
[i*j for i in range(10) for j in range(10)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [82]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

[l+l2+d+d2 for l in lowercase for l2 in lowercase for d in digits for d2 in digits]

['aa00',
 'ab00',
 'ac00',
 'ad00',
 'ae00',
 'af00',
 'ag00',
 'ah00',
 'ai00',
 'aj00',
 'ak00',
 'al00',
 'am00',
 'an00',
 'ao00',
 'ap00',
 'aq00',
 'ar00',
 'as00',
 'at00',
 'au00',
 'av00',
 'aw00',
 'ax00',
 'ay00',
 'az00',
 'ba00',
 'bb00',
 'bc00',
 'bd00',
 'be00',
 'bf00',
 'bg00',
 'bh00',
 'bi00',
 'bj00',
 'bk00',
 'bl00',
 'bm00',
 'bn00',
 'bo00',
 'bp00',
 'bq00',
 'br00',
 'bs00',
 'bt00',
 'bu00',
 'bv00',
 'bw00',
 'bx00',
 'by00',
 'bz00',
 'ca00',
 'cb00',
 'cc00',
 'cd00',
 'ce00',
 'cf00',
 'cg00',
 'ch00',
 'ci00',
 'cj00',
 'ck00',
 'cl00',
 'cm00',
 'cn00',
 'co00',
 'cp00',
 'cq00',
 'cr00',
 'cs00',
 'ct00',
 'cu00',
 'cv00',
 'cw00',
 'cx00',
 'cy00',
 'cz00',
 'da00',
 'db00',
 'dc00',
 'dd00',
 'de00',
 'df00',
 'dg00',
 'dh00',
 'di00',
 'dj00',
 'dk00',
 'dl00',
 'dm00',
 'dn00',
 'do00',
 'dp00',
 'dq00',
 'dr00',
 'ds00',
 'dt00',
 'du00',
 'dv00',
 'dw00',
 'dx00',
 'dy00',
 'dz00',
 'ea00',
 'eb00',
 'ec00',
 'ed00',
 'ee00',
 'ef00',
 'eg00',
 'eh00',
 'ei00',
 'ej00',
 'ek00',
 'el00',
 'em00',
 'en00',
 'eo00',
 'ep00',
 'eq00',
 'er00',
 'es00',
 'et00',
 'eu00',
 'ev00',
 'ew00',
 'ex00',
 'ey00',
 'ez00',
 'fa00',
 'fb00',
 'fc00',
 'fd00',
 'fe00',
 'ff00',
 'fg00',
 'fh00',
 'fi00',
 'fj00',
 'fk00',
 'fl00',
 'fm00',
 'fn00',
 'fo00',
 'fp00',
 'fq00',
 'fr00',
 'fs00',
 'ft00',
 'fu00',
 'fv00',
 'fw00',
 'fx00',
 'fy00',
 'fz00',
 'ga00',
 'gb00',
 'gc00',
 'gd00',
 'ge00',
 'gf00',
 'gg00',
 'gh00',
 'gi00',
 'gj00',
 'gk00',
 'gl00',
 'gm00',
 'gn00',
 'go00',
 'gp00',
 'gq00',
 'gr00',
 'gs00',
 'gt00',
 'gu00',
 'gv00',
 'gw00',
 'gx00',
 'gy00',
 'gz00',
 'ha00',
 'hb00',
 'hc00',
 'hd00',
 'he00',
 'hf00',
 'hg00',
 'hh00',
 'hi00',
 'hj00',
 'hk00',
 'hl00',
 'hm00',
 'hn00',
 'ho00',
 'hp00',
 'hq00',
 'hr00',
 'hs00',
 'ht00',
 'hu00',
 'hv00',
 'hw00',
 'hx00',
 'hy00',
 'hz00',
 'ia00',
 'ib00',
 'ic00',
 'id00',
 'ie00',
 'if00',
 'ig00',
 'ih00',
 'ii00',
 'ij00',
 'ik00',
 'il00',
 'im00',
 'in00',
 'io00',
 'ip00',
 'iq00',
 'ir00',
 'is00',
 'it00',
 'iu00',
 'iv00',
 'iw00',
 'ix00',
 'iy00',
 'iz00',
 'ja00',
 'jb00',
 'jc00',
 'jd00',
 'je00',
 'jf00',
 'jg00',
 'jh00',
 'ji00',
 'jj00',
 'jk00',
 'jl00',
 'jm00',
 'jn00',
 'jo00',
 'jp00',
 'jq00',
 'jr00',
 'js00',
 'jt00',
 'ju00',
 'jv00',
 'jw00',
 'jx00',
 'jy00',
 'jz00',
 'ka00',
 'kb00',
 'kc00',
 'kd00',
 'ke00',
 'kf00',
 'kg00',
 'kh00',
 'ki00',
 'kj00',
 'kk00',
 'kl00',
 'km00',
 'kn00',
 'ko00',
 'kp00',
 'kq00',
 'kr00',
 'ks00',
 'kt00',
 'ku00',
 'kv00',
 'kw00',
 'kx00',
 'ky00',
 'kz00',
 'la00',
 'lb00',
 'lc00',
 'ld00',
 'le00',
 'lf00',
 'lg00',
 'lh00',
 'li00',
 'lj00',
 'lk00',
 'll00',
 'lm00',
 'ln00',
 'lo00',
 'lp00',
 'lq00',
 'lr00',
 'ls00',
 'lt00',
 'lu00',
 'lv00',
 'lw00',
 'lx00',
 'ly00',
 'lz00',
 'ma00',
 'mb00',
 'mc00',
 'md00',
 'me00',
 'mf00',
 'mg00',
 'mh00',
 'mi00',
 'mj00',
 'mk00',
 'ml00',
 'mm00',
 'mn00',
 'mo00',
 'mp00',
 'mq00',
 'mr00',
 'ms00',
 'mt00',
 'mu00',
 'mv00',
 'mw00',
 'mx00',
 'my00',
 'mz00',
 'na00',
 'nb00',
 'nc00',
 'nd00',
 'ne00',
 'nf00',
 'ng00',
 'nh00',
 'ni00',
 'nj00',
 'nk00',
 'nl00',
 'nm00',
 'nn00',
 'no00',
 'np00',
 'nq00',
 'nr00',
 'ns00',
 'nt00',
 'nu00',
 'nv00',
 'nw00',
 'nx00',
 'ny00',
 'nz00',
 'oa00',
 'ob00',
 'oc00',
 'od00',
 'oe00',
 'of00',
 'og00',
 'oh00',
 'oi00',
 'oj00',
 'ok00',
 'ol00',
 'om00',
 'on00',
 'oo00',
 'op00',
 'oq00',
 'or00',
 'os00',
 'ot00',
 'ou00',
 'ov00',
 'ow00',
 'ox00',
 'oy00',
 'oz00',
 'pa00',
 'pb00',
 'pc00',
 'pd00',
 'pe00',
 'pf00',
 'pg00',
 'ph00',
 'pi00',
 'pj00',
 'pk00',
 'pl00',
 'pm00',
 'pn00',
 'po00',
 'pp00',
 'pq00',
 'pr00',
 'ps00',
 'pt00',
 'pu00',
 'pv00',
 'pw00',
 'px00',
 'py00',
 'pz00',
 'qa00',
 'qb00',
 'qc00',
 'qd00',
 'qe00',
 'qf00',
 'qg00',
 'qh00',
 'qi00',
 'qj00',
 'qk00',
 'ql00',
 'qm00',
 'qn00',
 'qo00',
 'qp00',
 'qq00',
 'qr00',
 'qs00',
 'qt00',
 'qu00',
 'qv00',
 'qw00',
 'qx00',
 'qy00',
 'qz00',
 'ra00',
 'rb00',
 'rc00',
 'rd00',
 're00',
 'rf00',
 'rg00',
 'rh00',
 'ri00',
 'rj00',
 'rk00',
 'rl00',
 'rm00',
 'rn00',
 'ro00',
 'rp00',
 'rq00',
 'rr00',
 'rs00',
 'rt00',
 'ru00',
 'rv00',
 'rw00',
 'rx00',
 'ry00',
 'rz00',
 'sa00',
 'sb00',
 'sc00',
 'sd00',
 'se00',
 'sf00',
 'sg00',
 'sh00',
 'si00',
 'sj00',
 'sk00',
 'sl00',
 'sm00',
 'sn00',
 'so00',
 'sp00',
 'sq00',
 'sr00',
 'ss00',
 'st00',
 'su00',
 'sv00',
 'sw00',
 'sx00',
 'sy00',
 'sz00',
 'ta00',
 'tb00',
 'tc00',
 'td00',
 'te00',
 'tf00',
 'tg00',
 'th00',
 'ti00',
 'tj00',
 'tk00',
 'tl00',
 'tm00',
 'tn00',
 'to00',
 'tp00',
 'tq00',
 'tr00',
 'ts00',
 'tt00',
 'tu00',
 'tv00',
 'tw00',
 'tx00',
 'ty00',
 'tz00',
 'ua00',
 'ub00',
 'uc00',
 'ud00',
 'ue00',
 'uf00',
 'ug00',
 'uh00',
 'ui00',
 'uj00',
 'uk00',
 'ul00',
 'um00',
 'un00',
 'uo00',
 'up00',
 'uq00',
 'ur00',
 'us00',
 'ut00',
 'uu00',
 'uv00',
 'uw00',
 'ux00',
 'uy00',
 'uz00',
 'va00',
 'vb00',
 'vc00',
 'vd00',
 've00',
 'vf00',
 'vg00',
 'vh00',
 'vi00',
 'vj00',
 'vk00',
 'vl00',
 'vm00',
 'vn00',
 'vo00',
 'vp00',
 'vq00',
 'vr00',
 'vs00',
 'vt00',
 'vu00',
 'vv00',
 'vw00',
 'vx00',
 'vy00',
 'vz00',
 'wa00',
 'wb00',
 'wc00',
 'wd00',
 'we00',
 'wf00',
 'wg00',
 'wh00',
 'wi00',
 'wj00',
 'wk00',
 'wl00',
 'wm00',
 'wn00',
 'wo00',
 'wp00',
 'wq00',
 'wr00',
 'ws00',
 'wt00',
 'wu00',
 'wv00',
 'ww00',
 'wx00',
 'wy00',
 'wz00',
 'xa00',
 'xb00',
 'xc00',
 'xd00',
 'xe00',
 'xf00',
 'xg00',
 'xh00',
 'xi00',
 'xj00',
 'xk00',
 'xl00',
 'xm00',
 'xn00',
 'xo00',
 'xp00',
 'xq00',
 'xr00',
 'xs00',
 'xt00',
 'xu00',
 'xv00',
 'xw00',
 'xx00',
 'xy00',
 'xz00',
 'ya00',
 'yb00',
 'yc00',
 'yd00',
 'ye00',
 'yf00',
 'yg00',
 'yh00',
 'yi00',
 'yj00',
 'yk00',
 'yl00',
 'ym00',
 'yn00',
 'yo00',
 'yp00',
 'yq00',
 'yr00',
 'ys00',
 'yt00',
 'yu00',
 'yv00',
 'yw00',
 'yx00',
 'yy00',
 'yz00',
 'za00',
 'zb00',
 'zc00',
 'zd00',
 'ze00',
 'zf00',
 'zg00',
 'zh00',
 'zi00',
 'zj00',
 'zk00',
 'zl00',
 'zm00',
 'zn00',
 'zo00',
 'zp00',
 'zq00',
 'zr00',
 'zs00',
 'zt00',
 'zu00',
 'zv00',
 'zw00',
 'zx00',
 'zy00',
 'zz00',
 'aa01',
 'ab01',
 'ac01',
 'ad01',
 'ae01',
 'af01',
 'ag01',
 'ah01',
 'ai01',
 'aj01',
 'ak01',
 'al01',
 'am01',
 'an01',
 'ao01',
 'ap01',
 'aq01',
 'ar01',
 'as01',
 'at01',
 'au01',
 'av01',
 'aw01',
 'ax01',
 'ay01',
 'az01',
 'ba01',
 'bb01',
 'bc01',
 'bd01',
 'be01',
 'bf01',
 'bg01',
 'bh01',
 'bi01',
 'bj01',
 'bk01',
 'bl01',
 'bm01',
 'bn01',
 'bo01',
 'bp01',
 'bq01',
 'br01',
 'bs01',
 'bt01',
 'bu01',
 'bv01',
 'bw01',
 'bx01',
 'by01',
 'bz01',
 'ca01',
 'cb01',
 'cc01',
 'cd01',
 'ce01',
 'cf01',
 'cg01',
 'ch01',
 'ci01',
 'cj01',
 'ck01',
 'cl01',
 'cm01',
 'cn01',
 'co01',
 'cp01',
 'cq01',
 'cr01',
 'cs01',
 'ct01',
 'cu01',
 'cv01',
 'cw01',
 'cx01',
 'cy01',
 'cz01',
 'da01',
 'db01',
 'dc01',
 'dd01',
 'de01',
 'df01',
 'dg01',
 'dh01',
 'di01',
 'dj01',
 'dk01',
 'dl01',
 'dm01',
 'dn01',
 'do01',
 'dp01',
 'dq01',
 'dr01',
 'ds01',
 'dt01',
 'du01',
 'dv01',
 'dw01',
 'dx01',
 'dy01',
 'dz01',
 'ea01',
 'eb01',
 'ec01',
 'ed01',
 'ee01',
 'ef01',
 'eg01',
 'eh01',
 'ei01',
 'ej01',
 'ek01',
 'el01',
 'em01',
 'en01',
 'eo01',
 'ep01',
 'eq01',
 'er01',
 'es01',
 'et01',
 'eu01',
 'ev01',
 'ew01',
 'ex01',
 'ey01',
 'ez01',
 'fa01',
 'fb01',
 'fc01',
 'fd01',
 'fe01',
 'ff01',
 'fg01',
 'fh01',
 'fi01',
 'fj01',
 'fk01',
 'fl01',
 'fm01',
 'fn01',
 'fo01',
 'fp01',
 'fq01',
 'fr01',
 'fs01',
 'ft01',
 'fu01',
 'fv01',
 'fw01',
 'fx01',
 'fy01',
 'fz01',
 'ga01',
 'gb01',
 'gc01',
 'gd01',
 'ge01',
 'gf01',
 'gg01',
 'gh01',
 'gi01',
 'gj01',
 'gk01',
 'gl01',
 'gm01',
 'gn01',
 'go01',
 'gp01',
 'gq01',
 'gr01',
 'gs01',
 'gt01',
 'gu01',
 'gv01',
 'gw01',
 'gx01',
 'gy01',
 'gz01',
 'ha01',
 'hb01',
 'hc01',
 'hd01',
 'he01',
 'hf01',
 'hg01',
 'hh01',
 'hi01',
 'hj01',
 'hk01',
 'hl01',
 'hm01',
 'hn01',
 'ho01',
 'hp01',
 'hq01',
 'hr01',
 'hs01',
 'ht01',
 'hu01',
 'hv01',
 'hw01',
 'hx01',
 'hy01',
 'hz01',
 'ia01',
 'ib01',
 'ic01',
 'id01',
 'ie01',
 'if01',
 'ig01',
 'ih01',
 'ii01',
 'ij01',
 'ik01',
 'il01',
 'im01',
 'in01',
 'io01',
 'ip01',
 'iq01',
 'ir01',
 'is01',
 'it01',
 'iu01',
 'iv01',
 'iw01',
 'ix01',
 'iy01',
 'iz01',
 'ja01',
 'jb01',
 'jc01',
 'jd01',
 'je01',
 'jf01',
 'jg01',
 'jh01',
 'ji01',
 'jj01',
 'jk01',
 'jl01',
 'jm01',
 'jn01',
 'jo01',
 'jp01',
 'jq01',
 'jr01',
 'js01',
 'jt01',
 'ju01',
 'jv01',
 'jw01',
 'jx01',
 'jy01',
 'jz01',
 'ka01',
 'kb01',
 'kc01',
 'kd01',
 'ke01',
 'kf01',
 'kg01',
 'kh01',
 'ki01',
 'kj01',
 'kk01',
 'kl01',
 'km01',
 'kn01',
 'ko01',
 'kp01',
 'kq01',
 'kr01',
 'ks01',
 'kt01',
 'ku01',
 'kv01',
 'kw01',
 'kx01',
 'ky01',
 'kz01',
 'la01',
 'lb01',
 'lc01',
 'ld01',
 'le01',
 'lf01',
 'lg01',
 'lh01',
 'li01',
 'lj01',
 'lk01',
 'll01',
 'lm01',
 'ln01',
 'lo01',
 'lp01',
 'lq01',
 'lr01',
 'ls01',
 'lt01',
 'lu01',
 'lv01',
 'lw01',
 'lx01',
 'ly01',
 'lz01',
 'ma01',
 'mb01',
 'mc01',
 'md01',
 'me01',
 'mf01',
 'mg01',
 'mh01',
 'mi01',
 'mj01',
 'mk01',
 'ml01',
 ...]

<br>
# The Python Programming Language: Numerical Python (NumPy)

In [85]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [86]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

array([1, 2, 3])

<br>
Or just pass in a list directly

In [94]:
y = np.array([4, 5, 6],int)
y

array([4, 5, 6])

<br>
Pass in a list of lists to create a multidimensional array.

In [88]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [89]:
m.shape

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

<br>
`reshape` returns an array with the same data with a new shape.

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

<br>
`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3, 3)
o

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [98]:
np.ones((3, 2), int)

array([[1, 1],
       [1, 1],
       [1, 1]])

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros((2, 3))

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [ ]:
np.eye(3)

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [ ]:
np.diag(y)

<br>
Create an array using repeating list (or see `np.tile`)

In [90]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

<br>
Repeat elements of an array using `repeat`.

In [91]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

<br>
#### Combining Arrays

In [104]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [102]:
np.ones((2, 3), int)

array([[1, 1, 1],
       [1, 1, 1]])

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [109]:
np.vstack([p, 2*p, 3*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2],
       [3, 3, 3],
       [3, 3, 3]])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
np.hstack([p, 2*p])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [116]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [117]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

[5 7 9]
[-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

In [119]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array
z

2

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [120]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
The shape of array `z` is `(2,3)` before transposing.

In [121]:
z.shape

(2, 3)

<br>
Use `.T` to get the transpose.

In [ ]:
z.T

<br>
The number of rows has swapped with the number of columns.

In [122]:
z.T.shape

(3, 2)

<br>
Use `.dtype` to see the data type of the elements in the array.

In [123]:
z.dtype

dtype('int64')

<br>
Use `.astype` to cast to a specific type.

In [124]:
z = z.astype('f')
z.dtype

dtype('float32')

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [ ]:
a.argmax()

In [ ]:
a.argmin()

<br>
## Indexing / Slicing

In [125]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [126]:
s[0], s[4], s[-1]

(0, 16, 144)

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [ ]:
s[1:5]

<br>
Use negatives to count from the back.

In [127]:
s[-4:]

array([ 81, 100, 121, 144])

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [129]:
s[-5::-2]

array([64, 36, 16,  4,  0])

<br>
Let's look at a multidimensional array.

In [130]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
Use bracket notation to slice: `array[row, column]`

In [131]:
r[2, 2]

14

<br>
And use : to select a range of rows or columns

In [132]:
r[3, 3:6]

array([21, 22, 23])

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [133]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

<br>
This is a slice of the last row, and only every other element.

In [134]:
r[-1, ::2]

array([30, 32, 34])

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [135]:
r[r > 30]

array([31, 32, 33, 34, 35])

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [136]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
r2 = r[:3,:3]
r2

<br>
Set this slice's values to zero ([:] selects the entire array)

In [ ]:
r2[:] = 0
r2

<br>
`r` has also been changed!

In [ ]:
r

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [ ]:
r_copy = r.copy()
r_copy

<br>
Now when r_copy is modified, r will not be changed.

In [ ]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [137]:
test = np.random.randint(0, 10, (4,3))
test

array([[5, 9, 6],
       [4, 6, 3],
       [2, 0, 5],
       [1, 1, 1]])

<br>
Iterate by row:

In [138]:
for row in test:
    print(row)

[5 9 6]
[4 6 3]
[2 0 5]
[1 1 1]

<br>
Iterate by index:

In [139]:
for i in range(len(test)):
    print(test[i])

[5 9 6]
[4 6 3]
[2 0 5]
[1 1 1]

<br>
Iterate by row and index:

In [ ]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

<br>
Use `zip` to iterate over multiple iterables.

In [140]:
test2 = test**2
test2

array([[25, 81, 36],
       [16, 36,  9],
       [ 4,  0, 25],
       [ 1,  1,  1]])

In [141]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[5 9 6] + [25 81 36] = [30 90 42]
[4 6 3] + [16 36  9] = [20 42 12]
[2 0 5] + [ 4  0 25] = [ 6  0 30]
[1 1 1] + [1 1 1] = [2 2 2]

In [146]:
f=lambda x:x+1
type(f)

function

In [156]:
a =np.array(range(36))
a.resize(6,6)
a.reshape(36)[::7]
a[2:4,2:4]

array([[14, 15],
       [20, 21]])

In [157]:
['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]